@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Goldman&family=Kalam:wght@300;400;700&display=swap");

/* global veriables */
:root {
  --themeColor: #ffffff;
  --fontColor: #1e1e1e;
  --primaryColor: #00000e;
  --secondaryColor: #487bb2;
}

body,
h1,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;

  /* theme changer will work here */
  background: var(--themeColor);
  color: var(--fontColor);
}



.notice{
  position: fixed;
  font-size: 0.8em;
  z-index: 1;
  padding: 4px;
  right: 2px;
  bottom: 5px;
  border-radius: 3px;
  color: black;
  background-color: rgba(178, 34, 34, 0.589);
}



/* style for header */
header {
  display: inline-flex;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0px 0px;
  background: linear-gradient(180deg, var(--secondaryColor), var(--themeColor));
  text-align: center;
  z-index: 1;
}
header h1 {
  background: none;
  display: inline-block;
  font-size: 1.4em;
  font-family: "Goldman", cursive;
  color: var(--primaryColor);
  text-align: center;
  align-self: center;
  margin: 0 auto;
}
.header-ccCamera {
  margin: 0;
  text-align: left;
  height: 50px;
  max-width: 100px;
}
header .camera2 {
  transform: scaleX(-1);
}

/* style for banner section */
.banner {
  position: relative;
  top: 70px;
  margin: 0 auto;
  margin-bottom: 12vh;
}

.banner img {
  opacity: 0.8;
  /* max-width: 100%;
  width: 1400px; */
  width: 100%;
}

.banner .banner-txt {
  background-color: rgba(112, 180, 224, 0.445);
  color: var(--fontColor);
  font-family: "Kalam", cursive;
  font-weight: bold;
  font-size: 3vw;
  position: absolute;
  top: 25%;
  left: 2%;
  padding: 0.5em;
}

/* style for navbar */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 0;
  height: 65px;
  /* border: 1px solid #ffffff1a; */
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px var(--secondaryColor);
  border: none;

  /* will make a theme(body bg color) changer between dark and white */
  /* background-color: var(--primaryColor); */
  background-color: var(--themeColor);
  z-index: 1;
}
nav ul {
  position: static;
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

nav li a {
  align-self: center;
  display: block;
  text-decoration: none;
  color: rgb(85, 85, 85);
  font-size: 1em;
  font-weight: 1000;
  font-variant: small-caps;
  padding: 15px;
}
nav li a:hover {
  /* background-color: rgb(0, 0, 0); */
  border-bottom: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  /* font-variant: normal; */
  /* bottom: 2px;
  left: 2px; */
}
/* end of navbar */

.shortcut {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.shortcut a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #00000e;
}

.shortcut a:hover {
  opacity: 0.7;
  left: 1px;
  bottom: 1px;
}

.shortcut .shortcut-img {
  text-align: center;
  padding: 0.5em;
  max-width: 300px;
  flex: 1 0 300px;
  margin: 10px 5px;
  box-shadow: 1px 1px 10px #00000e96;
}

.shortcut .shortcut-img h2 {
  font-weight: bold;
  font-family: "Kalam", cursive;
  border-bottom: 0.5px dashed #999999;
}

.shortcut .shortcut-img img {
  display: block;
  width: 100%;
  max-width: 300px;
}
/* end of shortcut image link section */

/* main content(body) started from here */

.bg-img {
  background: url(img/main-sec-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-attachment: fixed;
  background-size: contain;
  margin-top: 5em; /*for the gap from navbar */
}
main .main-content {
  background-color: var(--themeColor);
}

/* transparent part */
main .transparent {
  margin: 1em auto;
  width: 100%;
  display: block;
  background: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.grid {
  padding-top: 5em;
  display: grid;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  row-gap: 1em;
  font-size: 1.2rem;
}
.grid > div {
  box-sizing: border-box;

  /* border: 1px solid black; */
}
.grid > div a {
  text-decoration: none;
  font-weight: bold;
  color: var(--fontColor);
}

/* for all pakage images */
.grid > div img {
  display: inline-block;
  width: 100%;
}

/* pakage image captions */
.caption {
  width: 100%;
  text-align: center;
  padding: 1px 0;
}
/* .grid > div:nth-child(even) {
  background-color: rgba(42, 100, 139, 0.253);
}
.grid > div:nth-child(odd) {
  background-color: rgba(228, 96, 162, 0.397);
} */

/* this style works for the texts */
.grid .left-col-1 {
  grid-column: 1/8;
  padding: 1em;
  background-color: wheat;
}
/* this style works for the images */
.grid .right-col-1 {
  grid-column: 8/13;
  text-align: center;
  width: 100%;
}
/* this style works for the images*/
.grid .left-col-2 {
  grid-column: 1/6;
  text-align: center;
  width: 100%;
}
/* this style works for the text s*/
.grid .right-col-2 {
  grid-column: 6/13;
  padding: 1em;
  background-color: wheat;
}
.grid .main-row-1 {
  grid-column: 1/13;
  grid-row: 1/3;
}
.grid .main-row-1 h3 {
  font-weight: bold;
  font-size: 20px;
  color: var(--secondaryColor);
  text-align: center;
  margin: 0 auto;
}

.grid .main-row-2 {
  grid-column: 1/13;
  grid-row: 3/5;
}

.grid .main-row-4 {
  grid-row: auto;
}

.grid .main-row-11 {
  grid-column: 1/13;
}

/* .grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-


} */

/* media queri */
@media screen and (min-width: 768px) {
  /* for desktop (bigger than 768px) */
.notice{
  font-size: 1em;
}

  .header-ccCamera {
    height: 100px;
  }
  header h1 {
    font-size: 2em;
  }
  .banner {
    top: 120px;
    margin-bottom: 15vh;
  }
}
