@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Goldman&family=Kalam:wght@300;400;700&display=swap");

/* global veriables */
:root {
  --themeColor: #ffffff;
  --fontColor: #1e1e1e;
  --primaryColor: #00000e;
  --secondaryColor: #487bb2;
}

body,
h1,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;

  /* theme changer will work here */
  background: var(--themeColor);
  color: var(--fontColor);
}



.notice{
  position: fixed;
  font-size: 0.8em;
  z-index: 1;
  padding: 4px;
  right: 3px;
  bottom: 6px;
  border-radius: 3px;
  color: black;
  background-color: rgba(178, 34, 34, 0.589);
}



/* style for header */
header {
  display: inline-flex;
  position: fixed;
  width: 100%;
  height: 65px;
  padding: 0px 0px;
  background: linear-gradient(180deg, var(--secondaryColor), var(--themeColor));
  text-align: center;
  z-index: 1;
}
header h1 {
  background: none;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: "Goldman", cursive;
  color: var(--primaryColor);
  text-align: center;
  align-self: center;
  margin: 0 auto;
}
.header-ccCamera {
  margin: 0;
  text-align: left;
  height: 50px;
  max-width: 100px;
}
header .camera2 {
  transform: scaleX(-1);
}

/* style for banner section */
.banner {
  position: relative;
  top: 70px;
  margin: 0 auto;
  margin-bottom: 12vh;
}

.banner img {
  opacity: 0.8;
  /* max-width: 100%;
  width: 1400px; */
  width: 100%;
}

.banner .banner-txt {
  background-color: rgba(112, 180, 224, 0.445);
  color: var(--fontColor);
  font-family: "Kalam", cursive;
  font-weight: bold;
  font-size: 3vw;
  position: absolute;
  top: 25%;
  left: 2%;
  padding: 0.5em;
}

/* style for navbar */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 0;
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px var(--secondaryColor);
  border: none;

  /* will make a theme(body bg color) changer between dark and white */
  /* background-color: var(--primaryColor); */
  background-color: var(--themeColor);
  z-index: 1;
}
nav ul {
  position: static;
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

nav li a {
  align-self: center;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
  font-weight: 1000;
  font-variant: small-caps;
  padding: 10px 15px;
}
nav li #active {
  font-size: 0.8em;
  color: rgba(85, 85, 85, 0.700);
  border-bottom: 2px solid rgba(85, 85, 85, 0.700);
  font-weight: bold;
}
nav li a:hover:not(#active){
  /* background-color: rgb(0, 0, 0); */
  border-bottom: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  /* font-variant: normal; */
  /* bottom: 2px;
  left: 2px; */
}
/* end of navbar */

.shortcut {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.shortcut a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #00000e;
}

.shortcut a:hover {
  opacity: 0.7;
  left: 1px;
  bottom: 1px;
}

.shortcut .shortcut-img {
  text-align: center;
  padding: 0.5em;
  max-width: 300px;
  flex: 1 0 300px;
  margin: 10px 5px;
  box-shadow: 1px 1px 10px #00000e96;
}

.shortcut .shortcut-img h2 {
  font-weight: bold;
  font-family: "Kalam", cursive;
  border-bottom: 0.5px dashed #999999;
}

.shortcut .shortcut-img img {
  display: block;
  width: 100%;
  max-width: 300px;
}
/* end of shortcut image link section */



/* main content(body) started from here */

.bg-img {
  background: url(img/main-sec-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-attachment: fixed;
  background-size: contain;
  margin-top: 5em; /*for the gap from navbar */
}
main .main-content {
  background-color: var(--themeColor);
}

/* transparent part */
main .transparent {
  margin: 1em auto;
  width: 100%;
  display: block;
  background: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.grid {
  padding-top: 5em;
  display: grid;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 1px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  row-gap: 1em;
  font-size: 1rem;
  line-height: 1.5em;
}
.grid > div {
  box-sizing: border-box;

  /* border: 1px solid black; */
}
.grid a {
  text-decoration: none;
  font-weight: bold;
  color: var(--fontColor);
}
.packages{
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 1px 12px rgba(6, 70, 95, 0.61) ;
}
.packages:hover {
  opacity: 0.8;
}
.packages h4{
  text-align: left;
  margin: 0;
  padding-bottom: 5px;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: 1.5em;
  color: #444444;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.473);
}

.packages img {
  padding: 5px 0;
  width: 100%;
  max-width: 300px;
}
/* pakage image captions */
.caption {
  text-align: center;
  width: 100%;
  padding: 1px 0;
}

/* some style for header of camere details  */
.grid h3 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  color: var(--secondaryColor);
  text-align: center;
  margin: 0 auto;
}



.grid h5 {
  display: inline;
  margin: 0;
  margin-top: 5em;
  padding: 2px 18px 2px 3px;
  border-left: 4px solid red;
  background-color: rgba(255, 0, 0, 0.171);
}

/* media queri  */
@media screen and (max-width: 768px){
/* for mobile and small screen (less than 768px) */

  .body {
    font-size: 10px;
  }



/*              ////Columns and Rows are defined below ↓ ////                  */

/* Grid style for packages first */
  .grid .four{
    grid-column: 1/13;
    grid-row: 1/3;
  }
  .grid .five {
    grid-column: 1/13;
    grid-row: 3/5;
  }
  .grid .eight{
    grid-column: 1/13;
    grid-row: 5/7;
  }
  .grid .nine{
    grid-column: 1/13;
    grid-row: 7/9;
  }

  /* now Grid style for camera details divs */
  .grid .one{
    grid-column: 1/13;
    grid-row: 9/11;
    background: linear-gradient(90deg, rgba(255, 217, 0, 1), rgba(255, 217, 0, 0.1), rgba(255, 217, 0, 1));
  }

  .grid .two {
    grid-column: 1/13;
    grid-row: 11/13;
    background: linear-gradient(180deg, #fff, rgba(0, 255, 221, 0.733), #fff);
  }

  .grid .three{
    grid-column: 1/13;
    grid-row: 13/15;
    background: linear-gradient(90deg, rgb(255, 217, 0, 1), rgba(255, 217, 0, 0));
  }
  .grid .six{
    grid-column: 1/13;
    grid-row: 15/17;
    background: linear-gradient(270deg, rgb(255, 217, 0, 1), rgba(255, 217, 0, 0));
  }
  .grid .seven {
    grid-column: 1/13;
    grid-row: 17/19;
    background: linear-gradient(90deg, rgb(255, 217, 0, 1), rgba(255, 217, 0, 0));
  }
  .grid .ten {
    grid-column: 1/13;
    grid-row: 19/21;
    background: linear-gradient(270deg, rgb(255, 217, 0, 1), rgba(255, 217, 0, 0));
  }
  .grid .eleven {
    grid-column: 1/13;
    grid-row: 21/23;
    background: linear-gradient(90deg, rgb(255, 217, 0, 1), rgba(255, 217, 0, 0));
  }
  .grid .last-one {
    grid-column: 1/13;
    background: rgba(63, 108, 129, 0.486);
  }
}

/* .grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-

.grid .main-row-


} */

/* media queri */
@media screen and (min-width: 768px) {
  /* for desktop (bigger than 768px) */
  .notice{
    font-size: 1em;
  }

    .header-ccCamera {
      height: 100px;
    }
    header {
        height: 80px;
    }
    header h1 {
      font-size: 2em;
    }
    .banner {
      top: 120px;
      margin-bottom: 15vh;
    }
    nav{
        top: 80px;
    }
    nav li a {
      font-size: 1em;
    }
    nav li #active {
      font-size: 1em;
    }

  /*              ////Columns and Rows are defined below ↓ ////                  */

  /* this style works for the texts . All the text have this div class in this Grid*/
  .grid .left-col-1 {
    grid-column: 1/8;
    padding: 1em;
    background: linear-gradient(90deg, rgb(255, 217, 0, 1), rgba(255, 217, 0, 0));
  }
  /* this style works for the images . All the package image have this div class in this Grid*/
  .grid .right-col-1 {
    grid-column: 8/13;
    text-align: center;
  }
  /* this style works for the images. All the package image have this div class in this Grid*/
  .grid .left-col-2 {
    grid-column: 1/6;
    text-align: center;
  }
  /* this style works for the text s. All  he text have this div class in this Grid*/
  .grid .right-col-2 {
    grid-column: 6/13;
    padding: 1em;
    background: linear-gradient(270deg, rgba(255, 217, 0, 1), rgb(255, 217, 0, 0));
  }
  .grid .main-row-1 {
    grid-column: 1/13;
    grid-row: 1/3;
    background: linear-gradient(90deg, rgba(255, 217, 0, 1), rgba(255, 217, 0, 0.1), rgba(255, 217, 0, 1));
  }

  .grid .main-row-2 {
    grid-column: 1/13;
    grid-row: 3/5;
    background: linear-gradient(180deg, #fff, rgba(0, 255, 221, 0.733), #fff);
  }

  .grid .main-row-4 {
    grid-row: auto;
  }

  .grid .main-row-11 {
    grid-column: 1/13;
    background: rgba(63, 108, 129, 0.486);
  }


}
